#navbarr{
    border-color: black;
    border-style: solid;
    padding: 10px;
}

#contentt{
    border-color: black;
    border-style: solid;
    padding: 10px;
}

#col-md-7{
    border-color: black;
    border-style: solid;
    padding: 10px;
}

#posttwo{
    border-color: black;
    border-style: solid;
}

#postthree{
    border-color: black;
    border-style: solid;
}

#postfour {
    border-color: black;
    border-style: solid;
}